<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings>
        <add key="StartDate" value="11/09/2017"/>
        <add key="DBType" value="SQLServer"/>
    </appSettings>

    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="trace.log" />
            </listeners>
        </trace>
        <sources>
            <source name="logSource" switchName="logLevelSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <clear/>
                    <add name="textwriterListener"
                        type="System.Diagnostics.TextWriterTraceListener"
                        initializeData="c:\outfile.txt"
                        traceOutputOptions="ProcessId, DateTime, Callstack" />
                    <add name="eventLogListener"
                        type="System.Diagnostics.EventLogTraceListener"
                        initializeData="PostingTools.LogUtil" />
                </listeners>
            </source>
        </sources>
        <switches>
            <!-- Options are Off / Information / Warning / Error / Critical -->
            <add name="logLevelSwitch" value="Error"/>
        </switches>
    </system.diagnostics>
</configuration>