USE WTS
GO

IF EXISTS (SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[SVN_GET_TASK]')
AND OBJECTPROPERTY(id, N'IsProcedure') = 1)

DROP PROCEDURE SVN_GET_TASK
GO

CREATE PROCEDURE [dbo].SVN_GET_TASK
	@TICKETNUMBER int,
	@SUBTICKETNUMBER int
AS
BEGIN
	SELECT
		 WORKITEMID
		,TASK_NUMBER
		,'' + cast(WORKITEMID as varchar) + '-' + cast(TASK_NUMBER as varchar) AS 'Task #'
		,TITLE
		,DESCRIPTION
		,ASSIGNEDRESOURCEID
		,COMPLETIONPERCENT
		,STATUSID
	FROM [WTS].[dbo].[WORKITEM_TASK] A
	WHERE A.WORKITEMID = @TICKETNUMBER AND A.TASK_NUMBER = @SUBTICKETNUMBER;
END;

GO