USE [WTS]
GO
/****** Object:  Table [dbo].[WTS_SYSTEM_SUITE]    Script Date: 4/26/2017 3:23:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WTS_SYSTEM_SUITE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WTS_SYSTEM_SUITE](
	[WTS_SYSTEM_SUITEID] [int] IDENTITY(1,1) NOT NULL,
	[WTS_SYSTEM_SUITE] [nvarchar](2000) NOT NULL,
	[DESCRIPTION] [nvarchar](2000) NULL,
	[SORTORDER] [int] NULL,
	[ARCHIVE] [bit] NOT NULL,
	[CREATEDBY] [nvarchar](255) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[UPDATEDBY] [nvarchar](255) NOT NULL,
	[UPDATEDDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WTS_SYSTEM_SUITEID] PRIMARY KEY CLUSTERED 
(
	[WTS_SYSTEM_SUITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__SORTO__40857097]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT ((0)) FOR [SORTORDER]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__ARCHI__417994D0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT ((0)) FOR [ARCHIVE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__CREAT__426DB909]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT ('WTS_ADMIN') FOR [CREATEDBY]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__CREAT__4361DD42]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT (getdate()) FOR [CREATEDDATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__UPDAT__4456017B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT ('WTS_ADMIN') FOR [UPDATEDBY]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__WTS_SYSTE__UPDAT__454A25B4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WTS_SYSTEM_SUITE] ADD  DEFAULT (getdate()) FOR [UPDATEDDATE]
END

GO
